version: "1.0"
services:
  ui:
    container_name: inout-ui
    build:
      context: .
      dockerfile: Dockerfile
    image: ramamimu/inout-ui
    ports:
      - "3000:3000"
  server:
    container_name: inout-server
    build:
      context: ./src/server/
      dockerfile: Dockerfile
    image: ramamimu/inout-server
    ports:
      - "9090:9090"
